*{
    font-family: 'Roboto',sans-serif;
}

nav{
    height: 53px;
    background: #212121;
    
    
}
 
.menu{
    padding: 13px 70px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    list-style-type: none;
}   
.menu .menu_link{
font-weight: 300;
font-size: 15px;
color: #FFFFFF;
}
.menu .menu_item{
    border-right: 2px dotted black;
    padding-right: 28px;
}
.header{
    position: relative;
    
}
.subheader{
position: absolute;
width: 100%;
background-color:rgba(0,0,0, .6);
height: 84px;
}

 .subheader .subheader_logo{
    display: block;
    margin-top: 17px;
    max-width: 100%;

 
} 
.subheader .subheader_official{
    opacity: 0,5;
    margin-top: 6px;
    font-weight: 100;
    font-size: 13px;
    color: #FFFFFF;
}

.subheader .subheader_call{
    margin-top: 20px;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #FFFFFF;
    }

    .subheader .subheader_phone{
        font-weight: 400;
        display: block;
        margin-top: 8px;
        font-size: 22px;
        text-transform: uppercase;
        color: #FFFFFF;
        text-align:right ;
        line-height: 12px;
    }

    .subheader .subheader_btn{
        width: 172px;
        height: 46px;
        background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
        box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        border: none;
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;
        color: #FFFFFF;
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
        display: block;
        margin-top: 20px;
    }
.promo{
    
    min-height: 800px;
    background:url("../img/uber_bg1.png") center center/cover no-repeat;
    padding: 150px 0 130px 0;
    
}

.promo .promo_header{
    font-weight: 900;
    font-size: 60px;
    margin: 0;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}
.promo .promo_subheader{
    margin-top: 22px;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    text-align: center;
}
.promo .promo_descr{
    width: 985px;
    height: 173px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-top: 23px;
}

.promo .promo_btn{
    width: 259px;
    height: 63px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: none;
    font-weight: 400;
    
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    display: block;
    margin:0 auto;
    margin-top: 100px;
   
    font-weight: 400;
    font-size: 18px;
    line-height: 63px;
}
.rectangle{
    padding: 20px 0 64px 0;
}

.label{
    margin: 0 auto;
    box-shadow: inset;
    width: 113px;
    height: 24px;
    
    font-weight: 400;
    font-size: 11px;
    line-height: 28px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    width: 115px;
    height: 27px;
    background: linear-gradient(0deg, #000000 0%, #000000 100%);
  
}
.title{
    font-weight: 700;
    font-size: 38px;
    line-height: 48px;
    margin-top: 38px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    
    color: #222222;
    

}
.rectangle .rectangle_item {
        margin-top: 32px;
        display: flex;
        justify-content: center;
        align-items:center;  
     
}

.rectangle .rectangle_item .rectangle_round{
    display: flex; 
    align-items:center;
    justify-content: center;   
    
     width: 116px;
    height: 116px;
    background: #1EACC7;
    border-radius:100%;
}
.rectangle .rectangle_item .rectangle_text{
    
   
    margin-left: 25px;
    width: 371px;
    height: 150px;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
   color: #202020;
   
    }
    .rectangle  .rectangle_text span{
       
        font-weight: 400;
        font-size: 17px;
        line-height: 21px;
        
        color: #1EACC7;
    }

    
.subtitle{
    position: relative;
    color: #222222;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    z-index: 2;
		
}
  